<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>こいつらにフォローされとるで</h1>
      
      <%= render partial: 'shared/zero_messages', locals: { val: @follower_users } %>
      
      <% @follower_users.each do |user| %>
      
      <!--フォロワー0の時にメッセージを出したい-->
      <!--できたら_zero_messageで共通化したい-->
      
      <div>
      <%= gravatar_for user %>
          
      <%= user.name %>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>
      <% end %>

    </section>
  </aside>
</div>